body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header,
.top,
.footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header ul {
    gap: 20px;
}

.link {
    cursor: pointer;
}

.header, 
.hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;    
}

.slice {
    display: flex;
    /* justify-content: center; */
}

.side-by-side {
    display: flex;
    direction: row;
    margin: 80px 100px;
    gap: 36px;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.side-by-side div {
    width: 400px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    color: #FFFFFF;
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
    width: 100px;
    cursor: pointer;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 95%;
}

.large-image {
    color: #E5E7Eb;
    background-color: #6d747d;
    /* width: 400px; */
    /* height: 200px; */
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    /* Shoves everything to the middle, but I need the swatches in the middle */
    /* justify-content: center; */
}

.slice-before,
.slice-after {
    height: 100px;
 }

 .slice-before {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    align-items: center;
}

.swatch-row {
    display: flex;
    flex-direction: row;
    gap: 48px;
    min-height: 200px;
    /* THIS thing needs to be in the CENTER of its containing div. */
    /* It's already ALIGNED, and there's no such thing as justify-self. */
    /* align-self: center; */
    /* justify-self: center; */
}

.pic-and-caption {
    /* Remove or comment out border stuff when I'm done on layout */
    /* border: 1px;
    border-style: dotted;
    border-color: hotpink; */
    /* end of border stuff */

    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.pic {
    width: 160px;
    height: 160px;
    color: #FFFFFF;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: #3882F6;
}

.caption {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quotation {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    align-self: center;
}

.quote .slice-after {
    width: 700px;
    align-self: center;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
}

